use Mix.Config

config :ascii_art, AsciiArt.Repo,
  username: "postgres",
  password: "postgres",
  database: "ascii_art_dev",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10
